<div class="flex items-center justify-center min-h-screen">
    <div class="px-8 py-6 mx-4 mt-4 mb-10 text-left bg-purple-100 md:w-1/2 lg:w-1/2 sm:w-1/2">
        <!-- <h3 class="text-2xl font-bold text-center">Sign up</h3> -->
        <h2 class="text-center mb-4 ont-bold text-center alert alert-success">Register</h2>
        <form (ngSubmit)="onSignup()" #f="ngForm">
            <div class="mt-4">
                <div>
                    <label class="block" for="username">Username:*</label>
                        <input
                        type="username"
                        class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                        id="username"
                        required
                        ngModel
                        name="username"
                        minlength="4"
                        maxlength="20"
                        #username="ngModel"
                        placeholder="Username"
                        >
                        <small *ngIf="!username.valid && username.touched" id="usernameHelp">Username should be from 4 to 20 characters.
                        </small>
                </div>
                <div class="mt-4">
                    <label class="block" for="email">Email:*</label>
                        <input
                        type="email"
                        class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                        id="email"
                        placeholder="Email"
                        ngModel
                        name="email"
                        required
                        email
                        maxlength="40"
                        #email="ngModel">
                        <small *ngIf="!email.valid && email.touched" id="emailHelp">Pass valid email address.
                        </small>
                </div>
                <div class="mt-4">
                    <label class="block" for="password">Password:*</label>
                        <input
                        type="password"
                        class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                        id="password"
                        placeholder="Password"
                        required
                        ngModel
                        name="password"
                        minlength="6"
                        maxlength="40"
                        #password="ngModel">
                        <small *ngIf="!password.valid && password.touched" id="passwordHelp">
                            The password should be 6 to 40 characters long.
                        </small>
                </div>
                <div class="mt-4">
                    <label class="block" for="firstName">First Name:</label>
                        <input
                        type="text"
                        class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                        id="firstName"
                        placeholder="First Name"                        
                        ngModel
                        name="firstName"
                        maxlength="30"
                        >                    
                </div>
                <div class="mt-4">
                    <label class="block" for="password">Last Name:</label>
                        <input
                        type="password"
                        class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                        id="lastName"
                        placeholder="Last Name"                        
                        ngModel
                        name="lastName"                        
                        maxlength="30"
                        >                      
                </div>
                <span id="signupInfo">* - mandatory fields </span>
                <div *ngIf="authService.loginOrEmailNotAvailable" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                    The user already exists!
                </div>
                <div class="flex">
                    <button [disabled]="!isSendButtonActivated || !f.valid" class="w-full px-6 bg-purple-600 py-2 mt-4 text-white rounded-lg hover:bg-purple-900" >Create Account</button>
                </div>
                <div *ngIf="authService.registered" class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert">
                    User registered successfully!
                </div>
                <div class="mt-6 text-grey-dark">
                    Already have an account?
                    <a class="text-blue-600 hover:underline" routerLink="/signin">
                        Log in
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>