<div class="my-4">
    <h5 class="text-base font-medium text-gray-900 mb-4">Leave a Comment</h5>
    <div class="card-body">
        <form (ngSubmit)="onAddComment()" #f="ngForm">
            <div class="form-group">
                <textarea
                    [disabled]="!authService.isAuthenticated()"
                    [placeholder]="!authService.isAuthenticated() ? 'Sign in to add a comment.' : ''"
                    class="w-6/12 px-3 py-2 text-gray-700 border rounded-lg focus:outline-none" 
                    rows="4"
                    required
                    ngModel
                    name="content"></textarea>
            </div>
            <button [disabled]="!authService.isAuthenticated()" type="submit" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">Add Comment
            </button>
        </form>
    </div>
</div>