<div class="flex items-center justify-center min-h-screen">
    <div class="px-8 py-6 mx-4 mt-4 mb-8 text-left bg-purple-100 w-7/12">
        <h2 class="text-center mb-4 ont-bold text-center alert alert-success">Add Post</h2>
            <form (ngSubmit)="onAddPost(fileInput.files)" #f="ngForm">
                <div id="post-data">
                    <div>
                        <label for="title" class="block font-weight-bold">Title:</label>
                        <input                            
                            type="text"
                            class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                            id="title"
                            required
                            ngModel
                            name="title">
                    </div>
                    <div class="form-group mt-4">
                        <label for="content" class="block font-weight-bold">Content:</label>
                        <textarea
                            class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                            id="content"
                            rows="12"
                            required
                            ngModel
                            name="content"></textarea>
                    </div>

                    <label for="categories"
                        class="mt-5"
                        >
                        Choose Categories:</label>
                    <div id="categories"                         
                         class="grid grid-cols-4 gap-4 mt-4"
                         ngModelGroup="categories"
                         name="categories"
                         >
                            <div class="form-check form-check-inline">
                                <mat-checkbox
                                    color="primary"                                    
                                    type="checkbox"
                                    id="celebrity"
                                    ngModel
                                    name="celebrity"
                                >Celebrities
                                </mat-checkbox>

                            </div>
                            <div class="form-check form-check-inline">
                                <mat-checkbox
                                    color="primary"                                    
                                    type="checkbox"
                                    id="animal"
                                    ngModel
                                    name="animal">Animals
                                </mat-checkbox>
                            </div>
                            <div class="form-check form-check-inline">
                                <mat-checkbox
                                    color="primary"                                    
                                    type="checkbox"
                                    id="people"
                                    ngModel
                                    name="people">People
                                </mat-checkbox>
                            </div>
                            <div class="form-check form-check-inline">
                                <mat-checkbox
                                    color="primary"                                    
                                    type="checkbox"
                                    id="curiosity"
                                    ngModel
                                    name="curiosity">Curiosity
                                </mat-checkbox>
                            </div>
                            <div class="form-check form-check-inline">
                                <mat-checkbox
                                    color="primary"                                    
                                    type="checkbox"
                                    id="interestingPlace"
                                    ngModel
                                    name="interestingPlace">Interesting Place
                                </mat-checkbox>
                            </div>
                            <div class="form-check form-check-inline">
                                <mat-checkbox
                                    color="primary"                                    
                                    type="checkbox"
                                    id="funny"
                                    ngModel
                                    name="funny">Funny
                                </mat-checkbox>
                            </div>
                            <div class="form-check form-check-inline">
                                <mat-checkbox
                                    color="primary"                                    
                                    type="checkbox"
                                    id="nature"
                                    ngModel
                                    name="nature">Nature
                                </mat-checkbox>
                            </div>
                            <div class="form-check form-check-inline" >
                                <mat-checkbox
                                    color="primary"                                    
                                    type="checkbox"
                                    id="science"
                                    ngModel
                                    name="science">Science
                                </mat-checkbox>
                            </div>
                            <div class="form-check form-check-inline">
                                <mat-checkbox
                                    color="primary"                                    
                                    type="checkbox"
                                    id="art"
                                    ngModel
                                    name="art">Art
                                </mat-checkbox>
                            </div>
                            <div class="form-check form-check-inline">
                                <mat-checkbox
                                    color="primary"                                    
                                    type="checkbox"
                                    id="movie"
                                    ngModel
                                    name="movie">Film
                                </mat-checkbox>
                            </div>
                            <div class="form-check form-check-inline">
                                <mat-checkbox
                                    color="primary"                                    
                                    type="checkbox"
                                    id="fashion"
                                    ngModel
                                    name="fashion">Fashion
                                </mat-checkbox>
                            </div>
                            <div class="form-check form-check-inline">
                                <mat-checkbox
                                    color="primary"                                    
                                    type="checkbox"
                                    id="sale"
                                    ngModel
                                    name="sale">Sale
                                </mat-checkbox>
                            </div>
                            <div class="form-check form-check-inline">
                                <mat-checkbox
                                    color="primary"                                    
                                    type="checkbox"
                                    id="music"
                                    ngModel
                                    name="music">Music
                                </mat-checkbox>
                            </div>
                            <div class="form-check form-check-inline">
                                <mat-checkbox
                                    color="primary"                                    
                                    type="checkbox"
                                    id="culture"
                                    ngModel
                                    name="culture">Culture
                                </mat-checkbox>
                            </div>
                            <div class="form-check form-check-inline">
                                <mat-checkbox
                                    color="primary"                                    
                                    type="checkbox"
                                    id="sport"
                                    ngModel
                                    name="sport">Sport
                                </mat-checkbox>
                            </div>                    
                    </div>
                    <div class="mt-5 mb-2">
                        <label for="imagePost" class="font-weight-light">Choose an image file (max 1 MB)</label>
                        &nbsp;
                        <input type="file" class="form-control-file" id="imagePost" accept="image/*" #fileInput
                               required>
                    </div>
                    <button                        
                        class="w-full h-12 px-6 text-indigo-100 transition-colors duration-150 bg-indigo-700 rounded-lg focus:shadow-outline mt-4"
                        *ngIf="f.valid">Add post
                    </button>
                    <button 

                        *ngIf= "!f.valid"                       
                        class="w-full h-12 px-6 text-indigo-100 transition-colors duration-150 bg-indigo-700 rounded-lg focus:shadow-outline mt-4 cursor-not-allowed "
                        disabled 
                        >Add post
                    </button>

                </div>
            </form>
        </div>
    
</div>
